.conversor{
    padding: 20px;
    max-width: 300px;
    background-color: rgb(25, 150, 207);
    border-bottom-style: double;
    border-bottom-style: double;
    border-left-style: double;
    border-right-style: double;
    border-block-color: red;
  

}